body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1b0106;
    font-family: 'Comic Sans MS',  sans-serif;
    font-weight: bold;
}

.container {
    text-align: center;
}

#dado {
    font-size: 100px;
    margin-bottom: 20px;
    transition: transform 0.5s;
    color: #f39c12; /* Cambia este código de color por el que prefieras */
}

#resultado {
    font-size: 24px;
    margin-top: 10px;
    color: #ecf0f1; /* Cambia este código de color por el que prefieras */
}

button {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    background-color: #581d1d; /* Color de fondo del botón */
    color: white; /* Color del texto en el botón */
    border: none; /* Elimina el borde si lo deseas */
    border-radius: 5px; /* Añade bordes redondeados si lo prefieres */
}

button:hover {
    background-color: #753333; /* Color del botón al pasar el cursor por encima */
}

